<a href="https://colab.research.google.com/github/Andrei-Bona/DSA-CPE-010-CPE-21S4/blob/main/Exercise3_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing the Elements in the Array

In [4]:
animals = ['cat', 'dog', 'fish']
x = animals[0]
print(x)

cat

Modifying the Elements in the Array

In [9]:
animals = ['cat', 'dog', 'fish']
animals[0] = 'monkey'
print(animals[0])

monkey

Length of an Array

In [12]:
animals = ['monkey','cat,' 'dog', 'fish']
x = len(animals)
print(x)

3

Looping Array Elements

In [15]:
animals = ['monkey','cat', 'dog', 'fish']
for x in animals:
  print(x)

monkey
cat
dog
fish

Adding Elements in Array

In [18]:
animals = ['monkey','cat', 'dog', 'fish']
animals.append('bird')
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

Remove an Element in the Array

In [24]:
animals = ['monkey','cat', 'dog', 'fish']
animals.pop(1)
print(animals)

['monkey', 'dog', 'fish']

Insert an animal in a specific location using insert()

Remove the item in the specified index value using remove()

Reverse all items using reverse()

In [25]:
#Insert an animal in a specific location using insert()
animals = ['monkey','cat', 'dog', 'fish']
animals.insert(4,'lizard')
print(animals)

['monkey', 'cat', 'dog', 'fish', 'lizard']

In [36]:
#Remove the item in the specified index value using remove()
animals = ['monkey','cat', 'dog', 'fish','lizard']
animals.remove('lizard')
print(animals)

['monkey', 'cat', 'dog', 'fish']

In [37]:
#Reverse all items using reverse()
animals = ['monkey','cat', 'dog', 'fish']
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']